# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/

# Environment and Secrets
.env
*.local.yaml

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database & runtime data
data/*
data/.*
!data/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
